:root{
    --slider-height: 35rem;
    --half-slider-height: calc(var(--slider-height)/2);
}
*{

    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style: none;
}
body{
    background: #000011;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3, li, span{
    color: white;
}
/*NAVBAR*/
.navbar-container{
    
}
.navbar{
    background: none;
    display: flex;
	align-items: center;
	justify-content:space-around;
}
.navbar-logo img{
    padding-top: 2rem;
    width: 30vh;
}
.navbar ul{
    padding: 0;
    
}
a, a:link { 
    text-decoration: none; 
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
/* MAIN */
.main{
}
/* .circles-img{
    position: relative;
}
.circles-img img{
    width: 105%;
    z-index: 2;
} */
.main{
    display: flex;
	flex-wrap: wrap;
}
.main-container{
    display: flex;
    flex-direction: column;
}
.main-text{
    margin:10vh 0 10vh 10vh;

}
.main-text span{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.main-text h1, .main-text h3{
    margin: 0;
}
.main-text h1{
    font-size: 10vh;
    -webkit-background-clip: text;
    
    background-image: linear-gradient(80deg,#2600fc,#ff00ea);
    color: transparent;
    /* background-image: linear-gradient(80deg,#3a1c71,#d76d77, #ffaf7b); */
    /* background-image: linear-gradient(80deg,#ff512f,#dd2476); */
    /* background-image: linear-gradient(80deg,#0099F7,#F11712, #FFFFFF); */
}
.main-text h3{
    font-size: 4vh;
}
.main-image{
    display: flex;
    flex-direction: row;
    margin: 5vh 0 0 15vh;
    
    filter: drop-shadow(0px 0px 60px #2600fc);
}
.main-image img{
    height: 80vh;
}
.main-crypto-wrapper{
    display: grid;
	grid-gap: 2rem;
	grid-template-columns: repeat(
		4,
		minmax(200px, 1fr)
	);
}

@media screen and (max-width: 768px) {
    .main-crypto-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media screen and (max-width: 480px) {
    .main-crypto-wrapper {
      grid-template-columns: 1fr;
    }
}
.main-crypto{
    font-family: Space Grotesk,sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
	display: flex;
	flex-direction: column;
    align-items: center;
	justify-content: space-between;
	white-space: pre-wrap;
}
.main-crypto-change{
    margin-left: 1vh;
    color: #0ecb81;
}


/* SLIDER */
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-slider{

    position: relative;
    top: 30vh;
    left:25vh;
    width: var(--slider-height);
    height: var(--slider-height);

    text-align: center;
}
.wrapper{
    padding: 0;
    position: absolute;

    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    border-radius: 50%;

    transform: rotateZ(0deg);
    transition: 1s ease-in-out;
}
.slides{
    position: absolute;
    left: 0;
    transform: rotateZ(calc(360deg / 7 * var(--img-no))) translateY(var(--half-slider-height));
    transform-origin: var(--half-slider-height);
    width: 14vw;
    border-radius: 50%;

    cursor: pointer;
}
.slides img{
    width: 100%;
    border-radius: 50%;
    transform: rotateZ(calc(360deg / -7 * var(--img-no))) scale(var(--scale, .8));

    object-fit: cover;
    transition: .4s ease;
}
.slides img:hover{
    --scale: 1;
}
.slides img.active{
    width: 130%;
    outline: .1rem solid white;
    outline-offset: .5rem; 
}


.swiper-container {
    width: var(--slider-height);
    text-align: center;
  }
  .swiper-wrapper{
    padding: 0;
    position: absolute;

    width: 100%;
    height: 100%;
  }
.swiper-slide{
    width: 14vw;
    border-radius: 50%;
}
.swiper-slide img{
    width: 100%;
    border-radius: 50%;
}

/* FEATURE */
.img1-feature{
    display: flex;
    margin: 10vh 0 0 20vh;
}
.img1-feature img{
    filter: drop-shadow(0px 0px 60px #dd2476);
    width: 100%;
    height: auto;
}

.crypto-feature{
    margin-bottom: 10vh;
}
.crypto-feature h1{
    font-size: 6vh;
}
@media screen and (max-width: 900px) {
    .crypto-feature{
        flex-direction: column;
    }
}
.crypto-feature h2{
    font-size: 2rem;
    background: none;
}
.swiper span{
    font-family: Space Grotesk,sans-serif;
    font-size: 2rem;
    color:black;
    background: none;
}
.swiper {
    width: 18rem;
    height: 20rem;
    background: none;
}
.global-stats div{
    display: flex;
    align-items: center;
}
.global-stats h1{
    filter: drop-shadow(5px 5px 3px #2600fc);
    margin: 3vh
}
.global-stats img{
    width: 10vh;
    height: auto;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, 0px); }   
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background: none;
    padding-top: 3rem;
}
.swiper-slide:nth-child(1n) {
    /* background-image: url(https://i.ibb.co/P1h5T73/pawel-czerwinski-2m4-P67x-WDww-unsplash.jpg); */
    background-image: url(https://i.ibb.co/CW5B3KV/zoltan-tasi-u-NXmhzc-Qjxg-unsplash.jpg);
    background-position: center;
    background-size: 50vh 50vh;
    box-shadow: inset 0 0 200px 30px #282a2d;

  }
/* MARKET UPDATE */
.crypto-marketupdate h1{
    font-size: 6vh;
}
.crypto-marketupdate{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.crypto-marketupdate-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.crypto-marketupdate-header h1{
    filter: drop-shadow(5px 5px 3px #2600fc);
    margin: 3vh;
}
.crypto-marketupdate-header img{
    width: 10vh;
    height: auto;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.marketupdate-table{
    
}
.crypto-coindetails{
    margin-top: 20vh;
}
.crypto-coindetails a:link{
    text-decoration: none;
}